package pages

import "hrqmonteiro.com.br/templates/components/molecules"
import "hrqmonteiro.com.br/templates/components/atoms"
import "hrqmonteiro.com.br/templates/layouts"

templ Index() {
	@layouts.Base("Henrique Monteiro") {
		@atoms.Heading()
		@atoms.Tldr()
		@molecules.TechStack()
		@molecules.Github()
		@molecules.LeetCode()
	}
}
