package layouts

import "hrqmonteiro.com.br/templates/components/molecules"

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
			<link href="/static/css/main.css" rel="stylesheet"/>
			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet"/>
		</head>
		<body class="bg-primary font-sans">
			@molecules.Navbar()
			<div class="container mx-auto max-w-screen-sm md:px-6">
				<main class="min-h-screen py-20">
					{ children... }
				</main>
			</div>
		</body>
		<script src="/static/js/clock.js"></script>
		<script src="/static/js/theme.js"></script>
	</html>
}
