package molecules

templ Footer() {
	<footer class="bg-primary/30 p-4 md:p-6 text-sm backdrop-blur-sm border-t border-t-1 border-t-secondary text-mono text-xs">
		<div class="flex gap-1 flex-wrap md:no-wrap justify-between truncate ...">
			<span
				hx-get="/quote"
				hx-trigger="load, every 10s"
				hx-swap="outerHTML"
			>
				...
			</span>
			<div class="flex items-center gap-1">
				<i class="text-lg ph ph-spotify-logo text-nano"></i>
				<span
					hx-get="/spotify"
					hx-trigger="load, every 30s"
					hx-swap="innerHTML"
				>
					Not playing
				</span>
			</div>
		</div>
	</footer>
}
