package molecules

import "hrqmonteiro.com.br/templates/components/atoms"

templ Navbar() {
	<nav class="bg-primary/30 p-4 md:p-6 text-sm backdrop-blur-sm fixed w-full z-20 top-0 start-0">
		<div class="flex justify-between">
			@atoms.Logo()
			@atoms.Clock()
		</div>
	</nav>
}
