package molecules

type TechIcon struct {
	Icon string
	Name string
}

var Stack = []TechIcon{
	{"typescript", "TypeScript"},
	{"javascript", "JavaScript"},
	{"nodedotjs", "Node.js"},
	{"express", "Express.js"},
	{"electron", "Electron"},
	{"npm", "npm"},
	{"yarn", "Yarn"},
	{"pnpm", "PNPM"},
	{"nestjs", "NestJS"},
	{"deno", "Deno"},
	{"go", "Golang"},
	{"vuedotjs", "Vue"},
	{"react", "React"},
	{"nextdotjs", "Next.js"},
	{"reacthookform", "React Hook Form"},
	{"reactquery", "React Query"},
	{"reactrouter", "React Router"},
	{"reacttable", "React Table"},
	{"tailwindcss", "TailwindCSS"},
	{"storybook", "Storybook"},
	{"graphql", "GraphQL"},
	{"trpc", "tRPC"},
	{"postgresql", "PostgreSQL"},
	{"mongodb", "MongoDB"},
	{"mysql", "MySQL"},
	{"mariadb", "MariaDB"},
	{"amazondynamodb", "AWS DynamoDB"},
	{"auth0", "Auth0"},
	{"prisma", "Prisma.io"},
	{"supabase", "Supabase"},
	{"apachekafka", "Apache Kafka"},
	{"planetscale", "PlanetScale"},
	{"amazonwebservices", "Amazon Web Services"},
	{"awslambda", "AWS Lambda"},
	{"awsamplify", "AWS Amplify"},
	{"amazons3", "AWS S3"},
	{"amazonec2", "AWS EC2"},
	{"digitalocean", "DigitalOcean"},
	{"vercel", "Vercel"},
	{"netlify", "Netlify"},
	{"git", "Git"},
	{"github", "GitHub"},
	{"gitlab", "GitLab"},
	{"docker", "Docker"},
	{"kubernetes", "Kubernetes"},
	{"amazoneks", "AWS EKS"},
	{"nginx", "Nginx"},
	{"datadog", "Datadog"},
	{"circleci", "CircleCi"},
	{"argo", "ArgoCD"},
	{"jest", "Jest"},
	{"mocha", "Mocha"},
	{"chai", "Chai"},
	{"testinglibrary", "Testing Library"},
	{"postman", "Postman"},
	{"insomnia", "Insomnia"},
	{"figma", "Figma"},
	{"framer", "Framer"},
	{"jira", "Jira"},
	{"trello", "Trello"},
	{"slack", "Slack"},
	{"miro", "Miro"},
	{"linux", "Linux"},
	{"freebsd", "FreeBSD"},
	{"apple", "MacOS"},
}

templ TechStack() {
	<div class="mb-14 flex flex-col text-sm" onload="applySystemTheme()">
		<span class="text-xs font-medium uppercase">
			What I've worked with (so far)
		</span>
		<ul class="mt-4 flex flex-wrap justify-start md:justify-between">
			for _, tech := range Stack {
				<li
					title={ tech.Name }
					class="transition-all duration-200 hover:opacity-40"
				>
					<div class="mb-2 mr-2 flex items-center justify-center text-lg">
						<img
							height="18"
							width="18"
							alt={ tech.Name }
							class="tech-icon"
							data-icon={ tech.Icon }
							src=""
						/>
					</div>
				</li>
			}
		</ul>
	</div>
}
