package atoms

templ Clock() {
	<div class="flex items-center gap-2">
		<span>São Paulo — Brazil</span>
		<div id="clock"></div>
		<span>
			<svg id="analogClock" width="16" height="14" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<circle cx="10" cy="10" r="9" fill="none" stroke="currentColor" stroke-width="1"></circle>
				<line id="hourHand" x1="10" y1="10" x2="10" y2="4" stroke="currentColor" stroke-width="1"></line>
				<line id="minuteHand" x1="10" y1="10" x2="10" y2="1" stroke="currentColor" stroke-width="1"></line>
			</svg>
		</span>
	</div>
}
