package atoms

templ Heading() {
	<div class="mb-14 flex flex-col">
		@Avatar(40, 40, "/static/images/avatar.jpg")
		<h1 class="text-3xl font-medium">Henrique Monteiro</h1>
		<h2 class="text-xl font-light">
			Software Developer based in <span class="font-normal">Brazil.</span>
		</h2>
	</div>
}
