package atoms

templ Tldr() {
    <div class="mb-14 flex flex-col text-sm">
          <span class="text-xs font-bold">TL;DR</span>
          <p class="mb-4 text-justify leading-loose">
            Previously a trained Chemical Engineer, dropped from college and
            switched to web developer in 2019. Started messing with HTML and CSS on
            the Blogspot era, circa 2010, delivering custom templates. Discovered
            programming languages when messing with window managers in Linux, circa
            2014. Found out the marvelous world of rices on window managers and
            started learning some basic C, Python and Lua (along with CSS) to style
            my Linux desktop.
          </p>
          <p class="text-justify leading-loose">
            Currently Senior Software Engineer at{" "}
            <a class="font-medium transition-all duration-200 hover:opacity-70"
              href="https://stays.net"
              target="_blank"
            >
              Stays.
            </a>
            <br />
            For more info check my{" "}
            <a
              class="font-medium transition-all duration-200 hover:opacity-70"
              href="https://linkedin.com/in/hrqmonteiro"
              rel="noreferrer"
              target="_blank"
            >
              LinkedIn.
            </a>
          </p>
        </div>
}